// ==============================
// Custom style
// 自定义样式
// ==============================


.header-title {
  text-align: center;
}

// bump logo to ~3 em tall (≈48 px if your base font-size is 16px)
.logo {
  min-height: 3em !important;
  height:     3em !important;
  display: block !important;
}

// if you need to force the actual <img> inside not to get squashed:
.logo img {
  height: auto;
  width: 48px;
}
